.item1 {
	grid-area: menu;
	border: 1px solid gray;
	background: #efefef;
}
.item2 {
	grid-area: main;
}
.item3 {
	grid-area: right;
	border: 1px solid gray;
	background: #efefef;
}
.item4 {
	grid-area: footer;
}
.grid-container {
	display: grid;
	grid-template-areas:
	'menu main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main right'
	'menu main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main main right'
	'footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer right'
	'footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer right';
}
.grid-container > div {
	font-family: sans-serif;
	font-size: 0.875em;
	padding-left: 15px;
}
body {
	margin: ;
}
p, h3 {
	font-family: sans-serif;
	font-size: 0.875em;
}
h1, h2 {

}
.contentstitle {
	text-align: center;
}
.sidebartitle {
	text-align: center;
}
